<!-- Footer -->
<footer class="w3-center"><a href="/mvc-gaucho-rocket/home">Gauchorocket.com.ar</a></footer>

<!-- Bootstrap core JS-->
<script src="/mvc-gaucho-rocket/public/js/jquery-3.4.1.min.js"></script>
<script src="/mvc-gaucho-rocket/public/js/popper.min.js"></script>
<script src="/mvc-gaucho-rocket/public/js/bootstrap.min.js"></script>
<script src="/mvc-gaucho-rocket/public/js/sidebar.js"></script>
</body>
</html>