{{>header}}
<section class="containerImage">
    <img class="w3-center imglogo" src="public/imagenes/logo.png">
<br><br>


    <div class="container bg-white pb-3 card" style="width: 800px;">
        <form action="/mvc-gaucho-rocket/reserva/procesarDisponibilidad" method="get">
            <h2 class="pt-3 pb-2 text-left">Hacé tu reserva</h2>

            <div class="float-left">
                <select required name="origen" id="origen" class="custom-select pl-2">
                    <option value="">Origen</option>
                    {{#destinos}}
                    <option value="{{id_destino}}">{{nombre}}</option>
                    {{/destinos}}
                </select>
            </div>
            <div class="ml-4 float-left">
                <select required name="destino" id="destino" class="custom-select pl-2">
                    <option value="">Destino</option>
                    {{#destinos}}
                    <option value="{{id_destino}}">{{nombre}}</option>
                    {{/destinos}}
                </select>
            </div>



            <p class="float-right text-center">
                <button type="submit" class="btn btn-raised btn-info btn-sm reserva">Buscar disponibilidad</button>
            </p>

        </form>

    </div>
</section>

<section class="container1" id="destinos">
    <div>
        <div><h1>Estación espacial internacional</h1></div>
        <p>Lorem ipsum dolor sit
            amet, consectetur
            adipiscing elit, sed do
            eiusmod tempor
            incididunt adipiscing elit, sed do adipiscing elit, sed do</p>
    </div>
    <div></div>
</section>

<br><br>

<div class="container-fluid">
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="public/imagenes/home/1.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">General</h4>
                <p class="card-text">
                    Some quick example text to build on the card title
                    and make up the bulk of the card's content.
                </p>
                <a href="/mvc-gaucho-rocket/reserva" class="btn btn-outline-secondary">Hacé tu reserva</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="public/imagenes/home/2.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Familiar</h4>
                <p class="card-text">
                    Some quick example text to build on the card title
                    and make up the bulk of the card's content.
                </p>
                <a href="/mvc-gaucho-rocket/reserva" class="btn btn-outline-secondary">Hacé tu reserva</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="public/imagenes/home/3.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Suite</h4>
                <p class="card-text">
                    Some quick example text to build on the card title
                    and make up the bulk of the card's content.
                </p>
                <a href="/mvc-gaucho-rocket/reserva" class="btn btn-outline-secondary">Hacé tu reserva</a>
            </div>
        </div>
    </div>
</div>
</div><br><br><br>
{{>footer}}