
{{>header}}
<br><br><br><br><br>
<div class="container">
    <div class="alert alert-success" role="alert">
        <strong></strong> Estas logueado!
    </div>
    <br><br>
<div class="container">
    <p class="float-left">
        <a href="/mvc-gaucho-rocket/reserva"><button type="button" class="btn btn-outline-secondary bg-white w3-hover-shadow">Reservar Vuelo
            <img style="width: 70px;" src="/mvc-gaucho-rocket/public/imagenes/sistema/vuelos.jpg">
        </button>
        </a>
    </p>
<p class="float-left">
    <a href="/mvc-gaucho-rocket/medico"><button type="button" class="btn btn-outline-secondary bg-white w3-hover-shadow">Chequeo médico
        <img style="width: 50px;" src="/mvc-gaucho-rocket/public/imagenes/sistema/medico.png">
    </button></a>
</p>
    <p class="float-right">
        <a href="/mvc-gaucho-rocket/MisReservas"><button type="button" class="btn btn-outline-secondary bg-white w3-hover-shadow">Mis reservas
            <img class="ml-1" style="width: 45px;" src="/mvc-gaucho-rocket/public/imagenes/sistema/reserva.png">
        </button></a>

    </p>





    <table class="table table-hover">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol del usuario</th>
        </tr>
        {{#resultado}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{apellido}}</td>
            <td>{{rol_usuario}}</td>
            {{#Administrador}}
            <td><a href="/mvc-gaucho-rocket/sistema"><button class="btn btn-outline-primary">Sistema</button></a></td>
            {{/Administrador}}

        </tr>
        {{/resultado}}
    </table>
</div>
    <br>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{{>footer}}
