{{>headerSistema}}
        <!-- Page content-->
        <div class="container-fluid">
            <br>
            <div class="row">
                    <div class="col-sm-3">
                        <a href="/mvc-gaucho-rocket/sistemaVuelos"><div class="card">
                            <h4 class="mt-2 card-title text-center">Vuelos</h4>
                            <img class="card-img-top" src="public/imagenes/sistema/vuelos.jpg" alt="Card image cap">
                        </div></a>
                    </div>
                <div class="col-sm-3">
                    <a href="/mvc-gaucho-rocket/sistemaGrafico"><div class="card">
                        <h4 class="mt-2 card-title text-center">Grafico</h4>
                        <img class="card-img-top" src="public/imagenes/sistema/grafico.jpg" alt="Card image cap">
                    </div></a>
                </div>
                <div class="col-sm-3">
                    <a href="/mvc-gaucho-rocket/sistemaUsuarios"><div class="card">
                        <h4 class="mt-2 card-title text-center">Usuarios</h4>
                        <img class="card-img-top" src="public/imagenes/sistema/usuarios.jpg" alt="Card image cap">
                    </div></a>
                </div>
                </div>


        </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{{>footer}}
    </div>
</div>
