
{{>header}}
<br><br><br><br><br>
<div class="container">

<div class="container">
    <h2>Formulario para solicitar turno</h2>

    <br>
<form action="/mvc-gaucho-rocket/medico/procesarTurno" class="form-neon" method="POST" onsubmit="modal(this);" title="Solicitar turno...">
<p><label>Nombre:</label><strong>{{nombre}}</strong></p>
<p><label>Apellido:</label><strong>{{apellido}}</strong></p>
<p><label>Email:</label><strong>{{email}}</strong></p>
<br><br>
<div>
 <label>Centro Medico:</label>
 <select name="id_centro" id="id_centro"  class="form-control">
        {{#centrosMedicos}} 
		<option value="{{id_centro}}">{{nombre}}</option>
        {{/centrosMedicos}}

</select>
</div>
<br><br><br>
<div>
<label>Fecha :</label><input required type="date" name="fecha" id="fecha">
</div>

<br><br><br>
       <p class="text-center">
            <button type="submit" class="btn btn-raised btn-info btn-sm">Solicitar Turno</button>
        </p>
		
</form>
</div> 
</div><br><br><br><br><br><br><br><br><br><br>
{{>modal}}
{{>footer}}
